{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>EICC | {% block title %}{% endblock title %}</title>
    {% include 'base_head_tags.html' %}

    {% block meta_tag %}{% endblock meta_tag %}

  </head>
  <body>
    {% include 'header.html' %}

    {% include 'navigation-bar.html' %}

    <main style="background-color: whitesmoke; margin-right: 2px;margin-left: 2px; padding: 0 2em .5em;">
      {% block main %}
          home page
      {% endblock main %}
    </main>
  {% include 'footer.html' %}
  {% include 'base_scripts.html' %}
  </body>
</html>
