{% extends 'base_layout.html' %}

{% block title %}
    FAQ
{% endblock title %}

{% block meta_tag %}
{% endblock meta_tag %}

{% block contentTitle %}
    FAQ
{% endblock contentTitle %}

{% block main %}

<section class="row p-3">
    <div class="col-xs-10 mx-auto mb-3 col-lg-9 p-xs-4 ">
        <div class="accordion" id="accordionExample">

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Where is EICC
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                        <p class="ps-3 ms-3">location here </p>
                  </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    EICC phone number
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                        <p class="ps-3 ms-3">You can try to dialing this number: +233 24 629 6424 </p>
                  </div>
                </div>
            </div>



            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Opening hours
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                        <address class="ps-3 ms-3">
                            Monday: 8:00 AM – 5:00 PM  <br>
                            Tuesday: 8:00 AM – 5:00 PM <br>
                            Wednesday: 8:00 AM – 5:00 PM <br>
                            Thursday: 8:00 AM – 5:00 PM <br>
                            Friday: 8:00 AM – 5:00 PM <br>
                            Saturday: Closed <br>
                            Sunday: 8:00 AM – 5:00 PM
                        </address>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock main %}
